<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/Nlog.xsd"
      xmlns:xsl ="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsl:type="File" filename="nlog-${shortdate}.log"/>
  </targets>

  <rules>
    <logger name="*" minlevel="info" writeTo="logfile"/>
  </rules>
</nlog>